{% extends "base.html" %}
{% block content %}
<style>
  p {
    font-size: 70px;
    -webkit-text-stroke: 1px white;
    color: black;
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
</style>

<body>
  <div class="content">
    <p>This site is designed by two lazy students who tried to make something for pet fans.
      For those who want to find the ideal pet, whether it's a dog or cat, see characteristics of dog and cat breeds
      you're in the right place!<p>
  </div>
</body>
{% endblock %}