{% extends "base.html" %}
{% block content %}
<style>
  p {
    font-size: 70px;
    -webkit-text-stroke: 1px white;
   color:black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
</style>

<body>
  <p>This is site designed by two lazy students who tried to make something for pet fans. 
    For those who wants to find the ideal pet, wheater it's a dog or cat, see characteristics of dog and cat breeds you're in the right place!<p>
</body>
{% endblock %}