<!DOCTYPE html>
<html style="background-image: url(/img/paw-background.png) !important; height: 100%; background-position: center; background-repeat: no-repeat;
background-size: cover; background-attachment: fixed;">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pet Eligentis</title>

  <!-- styles -->
  {% style "/assets/bulma/css/bulma.min.css" %}
  {% style "/assets/material-icons/css/material-icons.min.css" %}

  {% style "/css/screen.css" %}
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar is-info">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/" style="font-weight:bold">Pet Eligentis</a>
        <span class="navbar-burger burger" data-target="nav-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="nav-menu" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a>
          <a href="/pet/yourpet" class="navbar-item{% ifequal page "your-pet.html" %} is-active{%endifequal%}">My Pet</a>
          <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}">About</a>
        </div>
        <div class="navbar-end">
          <a href="/signin" class="navbar-item{% ifequal page "signin.html" %} is-active{%endifequal%}">Sign in</a>
          <a href="/logout" class="navbar-item{% ifequal page "logout.html" %} is-active{%endifequal%}">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>

  <!-- scripts -->
  <script type="text/javascript">
    (function () {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#' + burger.dataset.target);
      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>


  {% block page-scripts %}
  {% endblock %}
</body>

</html>