{% extends "base.html" %}
<style>
</style>
{% block content %}
<div class="content">
  <h1 style="font-size:60px;">
    <center>Find your ideal pet!</center>
  </h1>
</div>

<div class="image-box" style="width:image width px; font-size:100%; text-align:center;">
  <a href="pet-preferences-dog"><img src="/img/find-dog1.png" alt="Ljuti keronja" width="480" height="480"
      style="padding-bottom:0.5em; float:left;"></a>Click on image to find a dog
  <br />
  <br />
  <div style="text-align: left">
    <b>Random dog fact:</b> {{ fact-dog.Fact }}
    <br />
    <br />
  </div>
</div>

<div class="image-box2" style="width:image width px; font-size:100%; text-align:center;">
  <a href="pet-preferences-cat"><img src="/img/find-cat1.png" alt="Luda macketina" width="400" height="400"
      style="padding-bottom:0.5em; float:right;"></a>Click on image to find a cat
  <br />
  <br />
  <div style="text-align: left">
    <b>Random cat fact:</b> {{ fact-cat.Fact }}
    <br />
    <br />
  </div>
</div>


{% endblock %}