{% extends "base.html" %}
{% block content %}

<body>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Pet</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>  
                <th>{{item.pet}}</th>
                <th>{{item.breed}}</th>
                <th>{{item.age}}</th>
                <th>{{item.name}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>


{% endblock %}